# Python virtual environments
venv/
.venv/
env/
ENV/
foot-dashboard/

# Jupyter
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Project-specific folders
old_notebooks/
team_logos/